* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-image: url('img/1.jpeg');
	background-size: cover;
}
.container {
	width: 80%;
	padding: 0px;
	background: rgba(0,0,0,.5);
	padding: 30px 10px;
}
.container h2 {
	width: 100%;
	color: #F4D03F;
	font-size: 36px;
	text-align: center;
	margin-bottom: 10px;
}

.container .row100 {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	color: #F4D03F;
}

.container .row100 .col {
	position: relative;
	width: 100%;
	padding: 0 10px;
	margin: 30px 0 10px;
	transform: 0.5s;
}

.container .row100 .inputBox {
	position: relative;
	width: 100%;
	height: 40px;
	color: #000;
	font-size: 15px;
}

.container .row100 .inputBox input, select {
	position: absolute;
	width: 100%;
	height: 100%;
	background:  #F4D03F;
	font-size: 18px;
	padding: 0 10px;
	z-index: 1;
}

#rangeValue {
	position: relative;
	display: block;
	text-align: center;
	color: #F4D03F;
	font-weight: 700;
	font-size: 20px;
	padding-bottom: 6px;
}

#sibsp{
	-webkit-appearance: none;
	color: #000000;

	height: 8px;
}

input[type="submit"] {
	border: none;
	padding: 7px 35px;
	cursor: pointer;
	outline: none;
	background: #F4D03F ;
	color: #000;
	font-size: 18px;
	border-radius: 2px;
}

#result {
	color:#F4D03F;
	text-align: center;
}



















